<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="OSMToSCT2.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5" />
    </startup>
    <userSettings>
        <OSMToSCT2.Properties.Settings>
            <setting name="InputOSMFilePath" serializeAs="String">
                <value>%appdata%\OSMToSCT2\InputOSM\</value>
            </setting>
            <setting name="InputSCTFilePath" serializeAs="String">
                <value>%appdata%\OSMToSCT2\InputSCT\</value>
            </setting>
            <setting name="OutputDirectory" serializeAs="String">
                <value>%appdata%\OSMToSCT2\Output\</value>
            </setting>
            <setting name="ColorApron" serializeAs="String">
                <value>regram</value>
            </setting>
            <setting name="ColorHangar" serializeAs="String">
                <value>regbui</value>
            </setting>
            <setting name="ColorOther1" serializeAs="String">
                <value>regoth</value>
            </setting>
            <setting name="ColorRunway" serializeAs="String">
                <value>regrw</value>
            </setting>
            <setting name="ColorTaxiway" serializeAs="String">
                <value>regtax</value>
            </setting>
            <setting name="ColorTerminal" serializeAs="String">
                <value>regbui</value>
            </setting>
        </OSMToSCT2.Properties.Settings>
    </userSettings>
</configuration>